<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- ===== Xposed / LSPosed 模块声明 ===== -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <!-- 82 = 兼容 LSPosed 的最低 Xposed API 版本 -->
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <!-- 作用域:只注入一加系统桌面 -->
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <!-- 模块自身的设置/状态页 -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
